.container h1 {
    margin-bottom: 32px;
}
  
.section h2 {
    margin-bottom: 72px;
}
  
.section h3 {
    margin-bottom: 16px;
}

/* .container {
    width: 100%;
    height: 100%;
    padding: 32px;
} */

/* .container h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
} */

/* .section:first-of-type {
    background-color: var(--primary-color);
    color: white;
} */

/* .section:nth-of-type(2) {
    background-color: white;
    color: black;
    flex-direction: row-reverse;
} */

/* .section:nth-of-type(3) {
    background-color: var(--secondary-color);
    color: white;
} */

.section {
    /* display: flex; */
    /* justify-content: space-around;
    align-items: center; */
    /* flex-wrap: wrap; */
    position: relative;
    padding: 32px 16px;
    overflow: visible;
}

.section > img {
    position: absolute;
    top: -100px;
    left: 50%;
    width: 60vw;
    opacity: 100%;
    overflow: visible;

}

.Card {
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
    position: relative;
    padding: 48px;
    margin-bottom: 100px;
    z-index: 5;
    width: 60%;
    /* font-size: 1.25rem; */
}

.Card p {
    margin-bottom: 16px;
}


.skills {
    letter-spacing: 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.concepts {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.work > div:first-of-type {
    margin-bottom: 16px;
}

.work > div:last-of-type {
    align-self: flex-start;
}

.work > div:last-of-type > span {
    margin-right: 16px;
}

.concepts > ul, .work > ul {
    margin-top: 16px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.work > ul li {
    margin-bottom: 16px;
}

.skills .indIcons, .interests .indIcons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.indIcons img {
    width: 50px;
    margin-bottom: 10px;
}

/* Media Queries */

@media (min-width: 1441px) {
    .section > img {
        position: absolute;
        top: -100px;
        left: 50%;
        max-width: 1000px;
        opacity: 100%;
        overflow: visible;
    
    }
    
    .Card {
        box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
        background-color: white;
        position: relative;
        padding: 48px;
        margin-bottom: 100px;
        z-index: 5;
        max-width: 1600px;
        /* font-size: 1.25rem; */
    }
}

@media (max-width: 768px) {

    .section {
        padding: 16px 8px;
    }

    .section > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 500px;
        opacity: 100%;
        overflow: visible;
    
    }
    
    .Card {
        box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
        background-color: white;
        position: relative;
        padding: 24px;
        margin-bottom: 50px;
        z-index: 5;
        width: 100%;
        /* font-size: 1.25rem; */
    }

    .concepts {
        margin-top: 24px;
    }

}

@media (max-width: 425px) {
    .concepts {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .concepts > ul, .work > ul {
        margin-top: 16px;
        margin-bottom: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        list-style-type: none;
    }
}