.container {
    width: 100%;
    height: 100%;
    background-color: turquoise;
}

.container h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}

.skills, .interests {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}

.skills .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}