.div {
    position: relative;
}

.header {
    text-align: center;
    padding: 50px;
    font-size: 2rem;
}

.infoContainer {
    width: 100%;
    padding: 0 10% 10% 10%;
}

.infoContainer > div {
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
    padding: 10px;
}

.infoContainer > div > div {
    margin: 10px 0;
}

.button {
    border-radius: 5px;
    padding: 10px 20px;
    background-color: lightblue;
    border: none;
}