.nav {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    /* margin: 0px 25vw; */
    padding: 0 50px;
}

.nameLogo {
    justify-self: left;
    font-weight: 200;
    color: black;
}

.nav > div:nth-of-type(2) {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 10px 0px;
    width: 100%;
}

.nav > div:nth-of-type(2) a {
    margin: 0 20px;
}

.nav img {
    width: 15px;
}

.nav a.linkActive {
    background-color: turquoise;
}