.projectNav {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80px;
    margin: 0 10%;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.4); */
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.projectNav > div {
    padding: 20px 50px;
}

.projectNav img {
    width: 40px;
}

.projectNav div:hover {
    transform: scale(0.90);
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.4);
}

.projectNav div.active {
    transform: scale(0.90);
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.4);
}