* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: rgb(0, 132, 134);
  --primary-light: rgb(95 162 163);
  --secondary-color: limegreen;
  --background-color: rgb(252, 243, 243);
  --filtered-primary: invert(29%) sepia(68%) saturate(2974%) hue-rotate(162deg) brightness(88%) contrast(100%);
}

html, body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-color);
}

@media (min-width: 1441px) {
  body {
    font-size: 2rem;
  }
}